header{
    display: flex;
    justify-content: center;
    flex: row;
}
.bkk{
background-color: black;
font-size: medium;
border-radius: 20px;
color: azure;
padding: 25px;
border-radius: 25px;
width: 200px;
height: 20px;
display: block;
    margin: 30px 0px 300px 20px ;
    text-align: center;
    text-decoration: dashed;
    

}
.bb{
display: flex;
justify-content: center;
align-items: center;
}
.bj{
    
    margin-top: 300px;
    width: 500px;
    font-size: 20px;
}

    

.hg{
    font-size: large;
    text-align: center;
    
}
.vv{
    display: flex;
    flex-direction: column;

}




    

.tre{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 150px;
}


.tir{
    display: flex;
    flex-direction: column;
    
}
.j{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button{
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    text-decoration: dashed;
    width: 80px;
    height: 25px;
}

.buttol{
    display: flex;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 20px;
    margin-top: 200px;
    text-align: center;
    text-decoration: dashed;
    margin-bottom: 1000px
}
.all{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.duo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
.phone{
    display: flex;
    margin-left: 500px;
}
.tl{
    display: flex;
    justify-content: center;
    
    
}

    




.m{
    background-color: black;
font-size: medium;
border-radius: 20px;
color: azure;
padding: 25px;
border-radius: 25px;
width: 200px;
height: 20px;
display: block;
    margin: 30px 0px 0px 20px ;
}
.namo{
    display: flex;
    flex-direction: row;
}
.wey{
    display: flex;
    flex-direction:column
}
.kpikt{
    display: flex;
    flex-direction: column;
}
.trewq{
    display: flex;
    flex-direction: column;
}
.wem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.buttop{
    background-color: black;
font-size: medium;
border-radius: 20px;
color: azure;
padding: 25px;
border-radius: 25px;
width: 200px;
height: 20px;
display: block;
    margin: 30px 0px 0px 20px ;
}
.end{
    display: flex;
   background-color: grey; 
   padding: 25px;
   margin-top: 150px;
}
.fd{
    margin-left: 1000px;
    margin-bottom: 200px;
}
.ds{
    display: flex;
    flex-direction: column;
}
.F{
    display: flex;
    flex-direction: row;
}
.tr{
    border: 2px solid black;
    border-radius: 15px;
    font-size: 25px;
    
    font-size: 25p;


}
.bj{
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 100px;

 
}

    

.y{
    margin-right: 200px;
}

























   

    
    

    
