header{
    display: flex;
    justify-content: center;
    flex: row;
}
.bkk{
background-color: black;
font-size: medium;
border-radius: 20px;
color: azure;
padding: 25px;
border-radius: 25px;
width: 200px;
height: 20px;
}
.bb{
display: flex;
justify-content: center;
}
.bj{
    
    margin-top: 300px;
    width: 500px;
    
}
.y{
    
    margin-left: 100px;
    width: 500px;
    height: 500px;
}
.bkk{
    
    margin-top: 650px;
    margin-right: 1000px;
}

    
    

    
